body {
    background:  url(img/pregdiaText.jpeg);
    background-position:  0px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
form {
    margin-top: 90px;
}