
body {
   
}
.form-wrapper{
    margin: 0 auto;
    margin-top: 40px;
}
.login {
    width: 30%;
 }

 form {
    padding: 25px;
    box-shadow: 0px 3px 6px #0000000d;
    background: white;
    border-radius: 10px;
    border: 1px solid pink;
 }
 input, select, textarea{
   border: 1px solid pink !important;
 }
 .header-bg-2 {
    height: 250px;
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),  url(img/preg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
 }
 .header-bg {
    height: 250px;
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),  url(img/preg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
 }
 .card-header:first-child {
    text-align: center !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    color: white;
   
}
.cursor-pointer {
    cursor: pointer;
}
.card-header-1:first-child {
    background: #ffa646;
}
.card-header-2 {
    background: #ff0000ad !important;
}
.flexify-center {
    display: flex;
    justify-content: center;
}


.p-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    transform:  1s all ease-in-out;
    width: 14rem;
    border-radius: 20px;
    box-shadow: 0px 1.5px 3px #0000000d;
    cursor: pointer;
} 
.p-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 12px #0000000d;

}
.card-info{
    font-size: 15px;
    color: white;
}
.info-row {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* MODALS */
.message-type {
    padding: 20px;
}
.succes {
    background-color: #4BB543;
  }
  .succes-animation {
    animation: succes-pulse 2s infinite;
  }
  
  .danger {
    background-color: #CA0B00;
  }
  .danger-animation {
    animation: danger-pulse 2s infinite;
  }
  .loader {
      display: none;
  }
  .custom-modal {
    position: relative;
    width: 350px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 30px;
    margin: 40px 10px;
    left: 37%;
    top: 37px;
  }
  .sucess-modal {
      display: none;
  }
  .error-modal {
    display: none;
}
  .custom-modal .content { 
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
  .custom-modal .content .type {
    font-size: 18px;
    color: #999;
  }
  .custom-modal .content .message-type {
    font-size: 24px;
    color: #000;
  }
  .custom-modal .border-bottom {
    position: absolute;
    width: 300px;
    height: 20px;
    border-radius: 0 0 30px 30px;
    bottom: -20px;
    margin: 0 25px;
  }
  .custom-modal .icon-top {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -30px;
    margin: 0 125px;
    font-size: 30px;
    color: #fff;
    line-height: 100px;
    text-align: center;
  }
  @keyframes succes-pulse { 
    0% {
      box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .2);
    }
    50% {
      box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .4);
    }
    100% {
      box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .2);
    }
  }
  @keyframes danger-pulse { 
    0% {
      box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
    }
    50% {
      box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .4);
    }
    100% {
      box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
    }
  }
  
 
  @media only screen and (max-width: 800px) {
    .page-wrapper {
      flex-direction: column;
    }
  }

  .tips_container{
    border: 1px solid pink;
    width: 100%;
    min-height: 100px;
    border-radius: 8px;
  }